.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.container > .intro {
    display: grid;
    grid-template-columns: 1fr 20px;
    grid-template-rows: 1fr 1fr;
}

.container div h3 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.container div h4 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.registration {
    width: 580px;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    position: relative;
    border-radius: 8px;
    padding: 16px 20px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-color:white
}

.registration > h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 16px 0;
    font-family: "Robot", "Segoe UI", blinkMacSystemFont, system-ui, --apple-system;
    font-weight: normal;
    text-align: center;
}

.registration > label {
    display:block;
    margin: 15px 5;
    width: 170px;
}

.registration > .email {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 520px;
}

.registration > .password {
    grid-row-start: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}

.registration > .passwordConf {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 4;
}

.registration > .signUp {
    grid-row-start : 8;
    grid-column-start: 1;
    grid-column-end: 4
}


.registration > .btn {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    margin-bottom: 10px;
    margin-top: 10px;
}


.links {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 9;
    display: flex;
    align-content: center;
}

.links a {
    margin: 0 auto;
}

.loginForm {
    width: 580px;
    display: grid;
    grid-template-columns: 80px 380px 80px;
    position: relative;
    border-radius: 8px;
    padding: 16px 20px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    background-color:white
}

.loginForm > h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 16px 0;
    font-family: "Robot", "Segoe UI", blinkMacSystemFont, system-ui, --apple-system;
    font-weight: normal;
    text-align: center;
}

.loginForm > label {
    display:block;
    margin: 15px 5;
    width: 380px;
}

.loginForm > .loginUsername {
    grid-column-start: 2;
    grid-column-end: 3;
}

.loginForm > .loginPassword {
    grid-column-start: 2;
    grid-column-end: 3;
}

.loginForm > .showPassword {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 120px;
    height: 25px;
    font-size: 12px;
    position: relative;
    left: 35%;
}

.login {
    grid-column-start: 2;
    grid-column-end: 3;
}

.loginForm .btn {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-bottom: 10px;
    margin-top: 10px;
}

